<div class="dialog">
  <h1 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>{{title}}</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </h1>
  <div class="content">
    <div mat-dialog-content>

      <form [formGroup]="myForm">
        <div class="row">


          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom" required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Prenom</mat-label>
            <input matInput formControlName="prenom" required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Tel</mat-label>
            <input matInput formControlName="phone" >
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Adresse</mat-label>
            <input matInput formControlName="adresse" >
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Cin</mat-label>
            <input matInput formControlName="cin" >
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Organisation</mat-label>
            <input matInput formControlName="organisation" >
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Date</mat-label>
            <input matInput readonly [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Mot de pass</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Region</mat-label>
            <mat-select formControlName="idRegion">
              <mat-option *ngFor="let e of regions | async" [value]="e.id">{{ e.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role" readonly>
              <mat-option *ngFor="let e of uow.rolesA" [value]="e">{{ e }}</mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>Role</mat-label>
            <input matInput formControlName="role" readonly>
          </mat-form-field>

          <!-- <mat-radio-group formControlName="isActive" class="col-md-6">
            <mat-radio-button [value]="false" style="font-size: .8em;">Désactive</mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button [value]="true" style="font-size: .85em;">Activé</mat-radio-button>
          </mat-radio-group> -->

          <mat-checkbox class="col-md-6" formControlName="isActive"  labelPosition="before" >
            Activer
          </mat-checkbox>
        </div>

        <!-- {{myForm.value | json}} -->

      </form>

    </div>

    <div class="actions" mat-dialog-actions>
      <button mat-button (click)="onNoClick()" type="button">Annuler</button>&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="onOkClick(myForm.value)"
        [disabled]="myForm.invalid">Enregistre</button>
    </div>
  </div>
</div>
